* {
    padding: 0px;
}

body {
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

input {
    border-radius: 6px;
    width: 150px;
    height: 25px;
}

.botoes {
    width: 200px;
    background-color: #fbcf3b;
    padding: 10px;
    border-radius: 6px;
    color: white;
}

.formularios {
    width: 350px;
    background-color: #f8e29a;
    padding: 10px;
    border-radius: 6px;
}